{% extends "base.html" %}

<!-- Replace The PAGE NAME with whatever the name of your page is -->
{% block title %}PAGE NAME - CookBook{% endblock %}

{% block scripts %}
<!-- Include and scripts here. Like This...
 <script src="{{ url_for('static', filename='Create_Recipe/editTags.js') }}"></script>
 <script src="{{ url_for('static', filename='Create_Recipe/editIngredients.js') }}"></script>
 -->
{% endblock %}

{% block content %}
<!-- Include any HTML content here -->
{% endblock %}