body {
  background-color: rgb(255, 253, 244);
  font-family: "Bahnschrift Light";
  font-stretch: condensed;
}

fieldset {
  all: revert;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  padding: 2%;
}

legend {
  all: revert;
}

input{
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

input[type="checkbox"], label {
  vertical-align: middle;
}

textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
}

select {
  background-color: rgb(240, 240, 240);
  font-family: "Bahnschrift Light";
  font-stretch: condensed;
}



.div_main{
  padding: 5%; 
}

.btn-remove {
  background-color: rgb(255, 115, 115);
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}
.btn-remove:hover{
  background-color: rgb(240, 100, 100);
}

.btn-add {
  background-color: rgb(255, 210, 75);
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}
.btn-add:hover{
  background-color: rgb(247, 195, 35);
}

.btn-tag {
  background-color: rgb(255, 210, 75);
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.btn-tag:hover{
  background-color: rgb(247, 195, 35);
}

.tag {
  margin-bottom: 10px;
}
.appliance {
  margin-bottom: 10px;
}
.ingredient {
  margin-bottom: 10px;
}
.step {
  margin-bottom: 10px;
}

.outer_fieldset{
  padding-top: 1%
}

.preview_image {
  margin-top: 10px;
  width: 300px;
}





.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffbb94;
  background-color: rgb(255, 204, 75);
  padding: 10px 20px;
  color: white;
  position: sticky;
  top: 0;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
}

.nav-links li a:hover {
  text-decoration: underline;
}
