<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
</head>

<body onload="console.log('You have navigated to the profile page')">

    <nav class="navbar">

        <div class="logo">CookBook</div>

        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/explore">Explore</a></li>
            <li><a href="/my-recipes">My Recipes</a></li>
            <li><a href="/saved">Saved</a></li>
            <li><a href="/mykitchen">MyKitchen</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>

    <div class="div_main">
        <h1>TEST</h1>
    </div>

</body>
</html>