{% extends "base.html" %}

{% block title %}Create Recipe - CookBook{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='Create_Recipe/editTags.js') }}"></script>
<script src="{{ url_for('static', filename='Create_Recipe/editIngredients.js') }}"></script>
<script src="{{ url_for('static', filename='Create_Recipe/editAppliances.js') }}"></script>
<script src="{{ url_for('static', filename='Create_Recipe/editSteps.js') }}"></script>
<script src="{{ url_for('static', filename='Create_Recipe/editTime.js') }}"></script>
<script src="{{ url_for('static', filename='Create_Recipe/editPhotos.js') }}"></script>
<script src="{{ url_for('static', filename='Create_Recipe/timeCalculation.js') }}"></script>
<script src="{{ url_for('static', filename='Create_Recipe/getRecipeInfo.js') }}"></script>
<script src="{{ url_for('static', filename='Create_Recipe/previewRecipe.js') }}"></script>
<script src="{{ url_for('static', filename='Create_Recipe/submitRecipeForm.js') }}"></script>
<script src="{{ url_for('static', filename='Create_Recipe/populateRecipeDetails.js') }}"></script>
<script>
    let recipe_details_dict = {{ recipe_details_dict | tojson }};
</script>
{% endblock %}

{% block content %}
<h1>Create a Recipe</h1>
<br>
    <form name = "Create Recipe" action="/" onsubmit="return handleRecipeForm()">
        <input id = "recipeName" name="recipe_name" type = "text" style="width: 100%" maxlength="100" placeholder="Recipe Name (100 character Limit)"required>
        <br>
        <br>

        Recipe Type:
        <select id="recipeType">
            <option value = Breakfast>Breakfast</option>
            <option value = Lunch>Lunch</option>
            <option value = Dinner>Dinner</option>
            <option value = Dessert>Dessert</option>
            <option value = Sweet_treat>Sweet Treat</option>
            <option value = Baked_good>Baked Good</option>
            <option value = Drink>Drink</option>
            <option value = Snack>Snack</option>
            <option value = Side>Side</option>
            <option value = Other>Other</option>
        </select>
        <br>
        <br>
        
        Recipe Difficulty:
        <select id="recipeDifficulty">
            <option value = Simple>Simple</option>
            <option value = Intermediate>Intermediate</option>
            <option value = Challenging>Challenging</option>
        </select>
        <br>
        <br>
        
        <fieldset class="outer_fieldset">
            <legend>Tags</legend>
            <div id="Tags"></div>
            <button type="button" class="btn btn-add" onclick='addTag("")'>+ Add Tag</button>
        </fieldset>
        <br>

        <fieldset class="outer_fieldset">
            <legend>Time</legend>
            <b>Split Time into Prep and Cooking: </b><input id = "timeCheckbox" type = "checkbox" onchange='splitTime({"totalTime": ["", ""], "prepTime": ["", ""], "cookingTime": ["", ""]})'>
            <div id="Time">
                <span style="display: inline-block; width: 90px; margin-top: 2%">Total Time: </span><input type = "number" min = "0" style="width: 60px; height: 25px;" required> hour/s <input type = "number" min = "0" style="width: 60px; height: 25px;" required> min/s
            </div>
        </fieldset>
        <br>

        Description:
        <br>
        <textarea id = "Description" name = "Description" rows = "5" maxlength="1000" placeholder = "1000 Character Limit"></textarea>
        <br>
        <br>

        Cover Photo:
        <br>
        <input id = "coverPhoto" type = "file" accept=".jpg, .png, .jpeg, .webp" onchange='validatePhoto(event.target)'>
        <div></div>
        <br>
        <br>


        <fieldset class="outer_fieldset">
            <legend>Ingredients</legend>                    
            <div id="Ingredients"></div>
            <button type="button" class="btn btn-add" onclick='addIngredient({"name": "", "quantity": "", "units": "", "desc": ""})'>+ Add Ingredient</button>
        </fieldset>
        <br>

        <fieldset class="outer_fieldset">
            <legend>Appliances/Special Equipment</legend>
            <div id="Appliances"></div>
            <button type="button" class="btn btn-add" onclick='addAppliance({"name": "", "extraData": "", "desc": ""})'>+ Add Appliance</button>
        </fieldset>
        <br>

        <fieldset class="outer_fieldset">
            <legend>Method</legend>
            <div id="Steps"></div>
            <button type="button" class="btn btn-add" onclick='addStep({"name": "", "desc": ""})'>+ Add Step</button>
        </fieldset>
        <br>
        <br>

        Visibility: 
        <select id="visibility">
            <option value = Private>Private</option>
            <option value = Friends_Only>Friends Only</option>
            <option value = Public>Public</option>
        </select>
        <br>
        <br>
        <span style="display: inline-block; width: 100px">Allow Ratings: </span><input type = "checkbox" id="allowRatings" checked>
        <br>
        <span style="display: inline-block; width: 100px">Allow Reviews: </span><input type = "checkbox" id="allowReviews" vertical-align = "middle" checked>
        <br>
        <br>
        <br>
        <button type="button" class="btn btn-primary" onclick="previewRecipe()">Preview Recipe</button>
        <br>
        <br>
        <button type="button" class="btn btn-primary" onclick="getRecipeInfo()">Save as Draft</button>
        <br>
        <br>
        <button type="submit" id="publishRecipe"class="btn btn-primary">Publish Recipe</button>
    </form>
{% endblock %}