{% extends "base.html" %}

{% block title %}Explore - CookBook{% endblock %}

{% block content %}
<h1>Explore Page</h1>

<div class="filter-bar">

    <div class="filter-group">
        <label>Cuisine:</label>
        <select data-filter="cuisine">
            <option value="All">All</option>             
        </select>
    </div>

    <div class="filter-group">
        <label>Difficulty</label>
        <select data-filter="difficulty">
            <option value="All">All</option>
        </select>
    </div>

    <div class="filter-group">
        <label>Time</label>
        <select data-filter="time">
            <option value="All">All</option>
            <option value="Under 15 min">Under 15 min</option>
            <option value="15-30 min">15-30 min</option>
            <option value="30-60 min">30-60 min</option>
            <option value="60+">60+</option>
        </select>
    </div>

    <div class="filter-group">
        <label>Diet</label>
        <select data-filter="diet">
            <option value="All">All</option>
        </select>
    </div>

</div>

<input type="search" id="searchBar" placeholder="Search recipes...">
<div id="recipeList"></div>

<h2>Spotlight Recipes</h2>
<div id="spotlight"></div>
<fieldset>
<div id="recipe_banner_div" user_id="{{ current_user.id }}"></div>
</fieldset>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='Explore/getRandomRecipes.js') }}"></script>
<script src="{{ url_for('static', filename='Explore/displayRecipes.js') }}"></script>
<script src="{{ url_for('static', filename='Explore/displaySpotlight.js') }}"></script>
<script src="{{ url_for('static', filename='Explore/populateExplore.js') }}"></script>
<script>
    let recipes_list = {{ foundRecipes | tojson }};
</script>
{% endblock %}