{% extends "base.html" %}

{% block title %}Explore - CookBook{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='Explore/getRandomRecipes.js') }}"></script>
<script src="{{ url_for('static', filename='Explore/displayRecipes.js') }}"></script>
<script src="{{ url_for('static', filename='Explore/populateExplore.js') }}"></script>
<script src="{{ url_for('static', filename='Create_Recipe/editTags.js') }}"></script>
<script src="{{ url_for('static', filename='Create_Recipe/editIngredients.js') }}"></script>
<script src="{{ url_for('static', filename='Create_Recipe/editAppliances.js') }}"></script>
<script src="{{ url_for('static', filename='Explore/getSearchRequirements.js') }}"></script>
<script>
    window.recipes_list = {{ foundRecipes | tojson | safe }};
</script>
{% endblock %}

{% block outer_content %}
<div class="container-fluid">
     <div class="row">

         <div class="col div_main">
             <h1>Explore</h1>
            <input type="search" id="searchBar" style = "width: 100%" placeholder="Search recipes...">
            <br><br>
            <div id="recipe_banner_div"></div>
         </div>



         <div class="col-auto filter-bar">
            <br>
            <button type="button" style =" width: 100%;" class="btn btn-primary" onclick="filterRecipes()">Apply Filters</button>
            <br><br>
            <div class="filter-group">
                <label>Recipe Type</label>
                <select id="type" data-filter="type">
                    <option value="All">All</option>
                    <option value = Breakfast>Breakfast</option>
                    <option value = Lunch>Lunch</option>
                    <option value = Dinner>Dinner</option>
                    <option value = Dessert>Dessert</option>
                    <option value = Sweet_treat>Sweet Treat</option>
                    <option value = Baked_good>Baked Good</option>
                    <option value = Drink>Drink</option>
                    <option value = Snack>Snack</option>
                    <option value = Side>Side</option>
                    <option value = Other>Other</option>
                </select>
            </div>

            <div class="filter-group">
                <label>Difficulty</label>
                <select id="difficulty" data-filter="difficulty">
                    <option value="All">All</option>
                    <option value="Simple">Simple</option>
                    <option value="Intermediate">Intermediate</option>
                    <option value="Challenging">Challenging</option>
                </select>
            </div>

            <div class="filter-group">
                <label>Time</label>
                <select id = "time" data-filter="time">
                    <option value="All">All</option>
                    <option value="Under 15 min">Under 15 mins</option>
                    <option value="Under 30 mins">Under 30 mins</option>
                    <option value="Under 1 hour">Under 1 hour</option>
                    <option value="Over 1 hour">Over 1 hour</option>
                </select>
            </div>

            
            <div id="filter_tags" class="filter-group">
                <label>Includes Tags:</label>
                <br>
                <button type="button" class="btn btn-add" onclick="makeFilterTag()">Filter Tag</button>
            </div>

            <div id="filter_ingredients" class="filter-group">
                <label>Includes Ingredients:</label>
                <br>
                <button type="button" class="btn btn-add" onclick="makeFilterIngredient()">Filter Ingredient</button>
            </div>

            <div id="filter_appliances" class="filter-group">
                <label>Exclude Appliances:</label>
                <br>
                <button type="button" class="btn btn-add" onclick="makeFilterAppliance()">Filter Appliance</button>
            </div>
         </div>
     </div>
</div>
{% endblock %}

{% block content %}
{% endblock %}