{% extends "base.html" %}

{% block title %}Log in - CookBook{% endblock %}

{% block content %}
<h1>Log in</h1>
<form name="Log In" action="/login" method="POST">
    <br>

    <fieldset class="outer_fieldset">
        <legend>Account</legend>
        Username:
        <input id="username" name="username" type="text" autocomplete="username" required autofocus>
        <br>
        <br>
        Password:
        <input id="password" name="password" type="password" autocomplete="current-password" required>
    </fieldset>
    <br>
    <br>

    <button type="submit" class="btn btn-primary">Log in</button>
    <br>
    <br>
    <p>Don't have an account? <a href="/signup">Sign up</a></p>
</form>
{% endblock %}
