{% extends "base.html" %}

{% block title %}Login Error - CookBook{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<h1>Login Required</h1>
<br>
<br>
<br>
<h4>Hi there stranger. Unfortunately, the feature you are trying to access requires you to be logged in. Make sure you login before trying again.</h4>
<br>
<h4>If you don't have a login, don't worry, you can signup using our signup page. (A link can be found through the Login Page)</h4>
<br>
<br>
<h4><a href="/login">Login Page</a></h4>
{% endblock %}