{% extends "base.html" %}

{% block title %}Login Error - CookBook{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<h1>Login Required</h1>
<br>
<br>
<br>
<h4>Hi there stranger. Unfortunately, the feature you are trying to access requires you to be logged in. Make sure you login before trying again.</h4>
<br>
<h5><a href="{{ url_for('main.login') }}">Login Page</a></h5>
<br>
<br>
<br>
<h4>If you don't have a login, don't worry, you can signup using our signup page.</h4>
<br>
<h5><a href="{{ url_for('main.signup') }}">Sign Up Page</a></h5>
{% endblock %}