{% extends "base.html" %}

{% block title %}View Profile - CookBook{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='Profile/includeRecipes.js') }}"></script>
<script>
    let my_recipes_list = {{ authorRecipes | tojson }};
</script>
{% endblock %}

{% block content %}
<h1>{{ authorUsername }}</h1>
<br>
<div class="profilePic">
    <img style="width: 100%; " src="{{ authorProfilePic }}" style="height:200px;">
</div>
<br>
<br>
<h3>Their Recipes:</h3>

<div id="recipe_banner_div"></div>





{% endblock %}