{% extends "base.html" %}

{% block title %}Profile - CookBook{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='Profile/includeRecipes.js') }}"></script>
<script src="{{ url_for('static', filename='Recipe_Banners/makeRecipeBanner.js') }}"></script>
<script src="{{ url_for('static', filename='timeCalculation.js') }}"></script>
<script>
    let my_recipes_list = {{ userRecipes | tojson }};
</script>
{% endblock %}

{% block content %}
<h1>Hello, {{ username }}</h1>
<br>
<div style="overflow: hidden; border-radius: 50%; width:200px; height:200px;">
    <img src="{{ current_user.profile_picture }}" style="height:200px;">
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h3>Your Recipes:</h3>

<div id="my_recipes"></div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h4><a href="/logout">Logout</a></h4>





{% endblock %}