{% extends "base.html" %}

{% block title %}Shopping List - CookBook{% endblock %}

{% block scripts %}
<!-- THIS WILL NEED TO BE GOTTEN FROM SOMEWHERE NOT JUST HARDCODED -->
<script src="{{ url_for('static', filename='prac_recipes.js') }}"></script>
<script src="{{ url_for('static', filename='makeRecipeBanner.js') }}"></script>
<script src="{{ url_for('static', filename='Shopping_List/timeCalculation.js') }}"></script>
<script src="{{ url_for('static', filename='Shopping_List/cartClicked.js') }}"></script>
<script src="{{ url_for('static', filename='Saved/bookmarkClicked.js') }}"></script>
<script>
    // console.log(tuna_mornay_dict);
    // console.log(pancake_dict);
</script>
{% endblock %}

{% block content %}
<h1>Shopping List</h1>
<br>
<fieldset>
    <legend>Selected Recipes</legend>
    <div id="recipes_for_shopping_list">
        <p>Recipes that you have selected to have a shopping list made from will appear here...</p>
        <button type="button" class="btn btn-add" onclick='makeRecipeBanner(tuna_mornay_dict)'>TEMP TUNA MORNAY</button>
        <button type="button" class="btn btn-add" onclick='makeRecipeBanner(pancake_dict)'>TEMP PANCAKES</button>
    </div>
</fieldset>
{% endblock %}