{% extends "base.html" %}

{% block title %}Shopping List - CookBook{% endblock %}

{% block scripts %}
<!-- THIS WILL NEED TO BE GOTTEN FROM SOMEWHERE NOT JUST HARDCODED -->
<script src="{{ url_for('static', filename='prac_recipes.js') }}"></script>
<script src="{{ url_for('static', filename='timeCalculation.js') }}"></script>
<script src="{{ url_for('static', filename='Shopping_List/populateShoppingList.js') }}"></script>
<script>
    let recipes_list = {{ userRecipes | tojson }};
</script>
{% endblock %}

{% block content %}
<h1>Shopping List</h1>
<br>
<fieldset>
    <legend>Selected Recipes</legend>
    <div id="recipe_banner_div" user_id="{{ current_user.id }}"></div>
</fieldset>
{% endblock %}