{% extends "base.html" %}

{% block title %}Sign Up - CookBook{% endblock %}

{% block content %}
<h1>Sign up</h1>

{% if error %}
    <p class="error-message">{{ error }}</p>
{% endif %}

<form name="Sign Up" action="/signup" method="POST">
    <br>

    <fieldset class="outer_fieldset">
        <legend>Account</legend>
        Username:
        <input id="username" name="username" type="text" autocomplete="username" required autofocus>
        <br>
        <br>
        Email:
        <input id="email" name="email" type="email" autocomplete="email" required>
        <br>
        <br>
        Password:
        <input id="password" name="password" type="password" autocomplete="new-password" required>
        <br>
        <br>
        Confirm Password:
        <input id="confirmPassword" name="confirm_password" type="password" autocomplete="new-password" required>
    </fieldset>
    <br>
    <br>

    <button type="submit" class="btn btn-primary">Sign up</button>
    <br>
    <br>
    <p>Already have an account? <a href="/login">Log in</a></p>
</form>
{% endblock %}
