{% extends "base.html" %}

{% block title %}Sign Up - CookBook{% endblock %}

{% block content %}
<h1>Sign up</h1>

{% if error %}
    <p class="error-message">{{ error }}</p>
{% endif %}

<form name="Sign Up" action="{{ url_for('main.signup') }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <br>

    <fieldset class="outer_fieldset">
        <legend>Account</legend>
        <span style="display: inline-block; width: 130px">Username: </span><input id="username" name="username" type="text" autocomplete="username" required autofocus>
        <br>
        <br>
        <span style="display: inline-block; width: 130px">Email: </span><input id="email" name="email" type="email" autocomplete="email" required>
        <br>
        <br>
        <span style="display: inline-block; width: 130px">Password: </span><input id="password" name="password" type="password" autocomplete="new-password" required>
        <br>
        <br>
        <span style="display: inline-block; width: 130px">Confirm Password: </span><input id="confirmPassword" name="confirm_password" type="password" autocomplete="new-password" required>
    </fieldset>
    <br>
    <br>

    <button type="submit" class="btn btn-primary">Sign up</button>
    <br>
    <br>
    <p>Already have an account? <a href="{{ url_for('main.login') }}">Log in</a></p>
</form>
{% endblock %}
